labs/student/solutions/lab02/ex4/WebServices/src/labs/UserManager.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema id="UserManager.xsd"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn://Auction/"
    elementFormDefault="qualified"
    targetNamespace="urn://Auction/">

  <xsd:element name="addUser">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="email" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="addUserResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="result" type="xsd:long"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>