labs/student/examples/jaxws/JavaEEJAXWS/src/conf/xml-resources/web-service-references/airportManager/wsdl/localhost_8081/airportManager.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-b02-rc1. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-b02-rc1. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.jaxws.example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.jaxws.example.com/" name="SaferAirportManagerService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.jaxws.example.com/" schemaLocation="http://localhost:8081/airportManager?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="addAirport">
<part name="parameters" element="tns:addAirport"></part>
</message>
<message name="addAirportResponse">
<part name="parameters" element="tns:addAirportResponse"></part>
</message>
<message name="DuplicateObjectException">
<part name="fault" element="tns:DuplicateObjectException"></part>
</message>
<message name="findNeighbors">
<part name="parameters" element="tns:findNeighbors"></part>
</message>
<message name="findNeighborsResponse">
<part name="parameters" element="tns:findNeighborsResponse"></part>
</message>
<portType name="SaferAirportManager">
<operation name="addAirport">
<input wsam:Action="http://server.jaxws.example.com/SaferAirportManager/addAirportRequest" message="tns:addAirport"></input>
<output wsam:Action="http://server.jaxws.example.com/SaferAirportManager/addAirportResponse" message="tns:addAirportResponse"></output>
<fault message="tns:DuplicateObjectException" name="DuplicateObjectException" wsam:Action="http://server.jaxws.example.com/SaferAirportManager/addAirport/Fault/DuplicateObjectException"></fault>
</operation>
<operation name="findNeighbors">
<input wsam:Action="http://server.jaxws.example.com/SaferAirportManager/findNeighborsRequest" message="tns:findNeighbors"></input>
<output wsam:Action="http://server.jaxws.example.com/SaferAirportManager/findNeighborsResponse" message="tns:findNeighborsResponse"></output>
</operation>
</portType>
<binding name="SaferAirportManagerPortBinding" type="tns:SaferAirportManager">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="addAirport">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DuplicateObjectException">
<soap:fault name="DuplicateObjectException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="findNeighbors">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="SaferAirportManagerService">
<port name="SaferAirportManagerPort" binding="tns:SaferAirportManagerPortBinding">
<soap:address location="http://localhost:8081/airportManager"></soap:address>
</port>
</service>
</definitions>