labs/student/solutions/lab06/ex2/AsyncClient/src/META-INF/AuctionManagerService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://labs/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://labs/" name="AuctionManagerService">
<types>
<xsd:schema>
<xsd:import namespace="http://labs/" schemaLocation="http://localhost:8080/EJBWebServices/AuctionManagerService?xsd=1" />
</xsd:schema>
</types>
<message name="createAuction">
<part name="parameters" element="tns:createAuction" />
</message>
<message name="createAuctionResponse">
<part name="parameters" element="tns:createAuctionResponse" />
</message>
<message name="findAuction">
<part name="parameters" element="tns:findAuction" />
</message>
<message name="findAuctionResponse">
<part name="parameters" element="tns:findAuctionResponse" />
</message>
<message name="placeBid">
<part name="parameters" element="tns:placeBid" />
</message>
<message name="placeBidResponse">
<part name="parameters" element="tns:placeBidResponse" />
</message>
<message name="listAuctions">
<part name="parameters" element="tns:listAuctions" />
</message>
<message name="listAuctionsResponse">
<part name="parameters" element="tns:listAuctionsResponse" />
</message>
<message name="listBids">
<part name="parameters" element="tns:listBids" />
</message>
<message name="listBidsResponse">
<part name="parameters" element="tns:listBidsResponse" />
</message>
<message name="getHighBid">
<part name="parameters" element="tns:getHighBid" />
</message>
<message name="getHighBidResponse">
<part name="parameters" element="tns:getHighBidResponse" />
</message>
<portType name="AuctionManager">
<operation name="createAuction">
<input wsam:Action="http://labs/AuctionManager/createAuctionRequest" message="tns:createAuction" />
<output wsam:Action="http://labs/AuctionManager/createAuctionResponse" message="tns:createAuctionResponse" />
</operation>
<operation name="findAuction">
<input wsam:Action="http://labs/AuctionManager/findAuctionRequest" message="tns:findAuction" />
<output wsam:Action="http://labs/AuctionManager/findAuctionResponse" message="tns:findAuctionResponse" />
</operation>
<operation name="placeBid">
<input wsam:Action="http://labs/AuctionManager/placeBidRequest" message="tns:placeBid" />
<output wsam:Action="http://labs/AuctionManager/placeBidResponse" message="tns:placeBidResponse" />
</operation>
<operation name="listAuctions">
<input wsam:Action="http://labs/AuctionManager/listAuctionsRequest" message="tns:listAuctions" />
<output wsam:Action="http://labs/AuctionManager/listAuctionsResponse" message="tns:listAuctionsResponse" />
</operation>
<operation name="listBids">
<input wsam:Action="http://labs/AuctionManager/listBidsRequest" message="tns:listBids" />
<output wsam:Action="http://labs/AuctionManager/listBidsResponse" message="tns:listBidsResponse" />
</operation>
<operation name="getHighBid">
<input wsam:Action="http://labs/AuctionManager/getHighBidRequest" message="tns:getHighBid" />
<output wsam:Action="http://labs/AuctionManager/getHighBidResponse" message="tns:getHighBidResponse" />
</operation>
</portType>
<binding name="AuctionManagerPortBinding" type="tns:AuctionManager">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="createAuction">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="findAuction">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="placeBid">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listAuctions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listBids">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getHighBid">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="AuctionManagerService">
<port name="AuctionManagerPort" binding="tns:AuctionManagerPortBinding">
<soap:address location="http://localhost:8080/EJBWebServices/AuctionManagerService" />
</port>
</service>
</definitions>
