labs/student/solutions/lab02/ex4/WebServices/generated/xml/ItemManagerService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. -->
<definitions targetNamespace="http://labs/" name="ItemManagerService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://labs/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://labs/" schemaLocation="ItemManagerService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="removeItem">
    <part name="parameters" element="tns:removeItem"/>
  </message>
  <message name="removeItemResponse">
    <part name="parameters" element="tns:removeItemResponse"/>
  </message>
  <message name="addItem">
    <part name="parameters" element="tns:addItem"/>
  </message>
  <message name="addItemResponse">
    <part name="parameters" element="tns:addItemResponse"/>
  </message>
  <message name="findItem">
    <part name="parameters" element="tns:findItem"/>
  </message>
  <message name="findItemResponse">
    <part name="parameters" element="tns:findItemResponse"/>
  </message>
  <portType name="ItemManager">
    <operation name="removeItem">
      <input wsam:Action="http://labs/ItemManager/removeItemRequest" message="tns:removeItem"/>
      <output wsam:Action="http://labs/ItemManager/removeItemResponse" message="tns:removeItemResponse"/>
    </operation>
    <operation name="addItem">
      <input wsam:Action="http://labs/ItemManager/addItemRequest" message="tns:addItem"/>
      <output wsam:Action="http://labs/ItemManager/addItemResponse" message="tns:addItemResponse"/>
    </operation>
    <operation name="findItem">
      <input wsam:Action="http://labs/ItemManager/findItemRequest" message="tns:findItem"/>
      <output wsam:Action="http://labs/ItemManager/findItemResponse" message="tns:findItemResponse"/>
    </operation>
  </portType>
  <binding name="ItemManagerPortBinding" type="tns:ItemManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="removeItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ItemManagerService">
    <port name="ItemManagerPort" binding="tns:ItemManagerPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

