labs/student/solutions/lab05/ex2/ItemManagerEJBClient/xml-resources/web-service-references/ItemManagerWS/wsdl/localhost_8080/EJBWebServices/ItemManagerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://labs/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://labs/" name="ItemManagerWS">
<wsp:Policy xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsu:Id="ItemManagerPortBinding_updateItem_WSAT_Policy">
<wsat:ATAlwaysCapability />
<wsat:ATAssertion xmlns:ns1="http://schemas.xmlsoap.org/ws/2002/12/policy" wsp:Optional="true" ns1:Optional="true" />
</wsp:Policy>
<wsp:Policy xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsu:Id="ItemManagerPortBinding_removeItem_WSAT_Policy">
<wsat:ATAlwaysCapability />
<wsat:ATAssertion xmlns:ns2="http://schemas.xmlsoap.org/ws/2002/12/policy" wsp:Optional="true" ns2:Optional="true" />
</wsp:Policy>
<wsp:Policy xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsu:Id="ItemManagerPortBinding_findItem_WSAT_Policy">
<wsat:ATAlwaysCapability />
<wsat:ATAssertion xmlns:ns3="http://schemas.xmlsoap.org/ws/2002/12/policy" wsp:Optional="true" ns3:Optional="true" />
</wsp:Policy>
<wsp:Policy xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsu:Id="ItemManagerPortBinding_addItem_WSAT_Policy">
<wsat:ATAlwaysCapability />
<wsat:ATAssertion xmlns:ns4="http://schemas.xmlsoap.org/ws/2002/12/policy" wsp:Optional="true" ns4:Optional="true" />
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://labs/" schemaLocation="http://localhost:8080/EJBWebServices/ItemManagerWS?xsd=1" />
</xsd:schema>
</types>
<message name="removeItem">
<part name="parameters" element="tns:removeItem" />
</message>
<message name="removeItemResponse">
<part name="parameters" element="tns:removeItemResponse" />
</message>
<message name="addItem">
<part name="parameters" element="tns:addItem" />
</message>
<message name="addItemResponse">
<part name="parameters" element="tns:addItemResponse" />
</message>
<message name="findItem">
<part name="parameters" element="tns:findItem" />
</message>
<message name="findItemResponse">
<part name="parameters" element="tns:findItemResponse" />
</message>
<message name="updateItem">
<part name="parameters" element="tns:updateItem" />
</message>
<message name="updateItemResponse">
<part name="parameters" element="tns:updateItemResponse" />
</message>
<portType name="ItemManager">
<operation name="removeItem">
<input wsam:Action="http://labs/ItemManager/removeItemRequest" message="tns:removeItem" />
<output wsam:Action="http://labs/ItemManager/removeItemResponse" message="tns:removeItemResponse" />
</operation>
<operation name="addItem">
<input wsam:Action="http://labs/ItemManager/addItemRequest" message="tns:addItem" />
<output wsam:Action="http://labs/ItemManager/addItemResponse" message="tns:addItemResponse" />
</operation>
<operation name="findItem">
<input wsam:Action="http://labs/ItemManager/findItemRequest" message="tns:findItem" />
<output wsam:Action="http://labs/ItemManager/findItemResponse" message="tns:findItemResponse" />
</operation>
<operation name="updateItem">
<input wsam:Action="http://labs/ItemManager/updateItemRequest" message="tns:updateItem" />
<output wsam:Action="http://labs/ItemManager/updateItemResponse" message="tns:updateItemResponse" />
</operation>
</portType>
<binding name="ItemManagerPortBinding" type="tns:ItemManager">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="removeItem">
<wsp:PolicyReference URI="#ItemManagerPortBinding_removeItem_WSAT_Policy" />
<soap:operation soapAction="" />
<input>
<wsp:PolicyReference URI="#ItemManagerPortBinding_removeItem_WSAT_Policy" />
<soap:body use="literal" />
</input>
<output>
<wsp:PolicyReference URI="#ItemManagerPortBinding_removeItem_WSAT_Policy" />
<soap:body use="literal" />
</output>
</operation>
<operation name="addItem">
<wsp:PolicyReference URI="#ItemManagerPortBinding_addItem_WSAT_Policy" />
<soap:operation soapAction="" />
<input>
<wsp:PolicyReference URI="#ItemManagerPortBinding_addItem_WSAT_Policy" />
<soap:body use="literal" />
</input>
<output>
<wsp:PolicyReference URI="#ItemManagerPortBinding_addItem_WSAT_Policy" />
<soap:body use="literal" />
</output>
</operation>
<operation name="findItem">
<wsp:PolicyReference URI="#ItemManagerPortBinding_findItem_WSAT_Policy" />
<soap:operation soapAction="" />
<input>
<wsp:PolicyReference URI="#ItemManagerPortBinding_findItem_WSAT_Policy" />
<soap:body use="literal" />
</input>
<output>
<wsp:PolicyReference URI="#ItemManagerPortBinding_findItem_WSAT_Policy" />
<soap:body use="literal" />
</output>
</operation>
<operation name="updateItem">
<wsp:PolicyReference URI="#ItemManagerPortBinding_updateItem_WSAT_Policy" />
<soap:operation soapAction="" />
<input>
<wsp:PolicyReference URI="#ItemManagerPortBinding_updateItem_WSAT_Policy" />
<soap:body use="literal" />
</input>
<output>
<wsp:PolicyReference URI="#ItemManagerPortBinding_updateItem_WSAT_Policy" />
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ItemManagerWS">
<port name="ItemManagerPort" binding="tns:ItemManagerPortBinding">
<soap:address location="http://localhost:8080/EJBWebServices/ItemManagerWS" />
</port>
</service>
</definitions>