labs/student/examples/jaxws/Managers/generated/xml/AirportManagerService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://server.jaxws.example.com/" xmlns:tns="http://server.jaxws.example.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="addAirport" type="tns:addAirport"/>

  <xs:element name="addAirportResponse" type="tns:addAirportResponse"/>

  <xs:complexType name="addAirport">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addAirportResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

