labs/student/examples/jaxws/Managers/generated/xml/BetterAirportManagerService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-b02-rc1. -->
<definitions targetNamespace="http://server.jaxws.example.com/" name="BetterAirportManagerService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://server.jaxws.example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://server.jaxws.example.com/" schemaLocation="BetterAirportManagerService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="addAirport">
    <part name="parameters" element="tns:addAirport"/>
  </message>
  <message name="addAirportResponse">
    <part name="parameters" element="tns:addAirportResponse"/>
  </message>
  <message name="removeById">
    <part name="parameters" element="tns:removeById"/>
  </message>
  <message name="removeByIdResponse">
    <part name="parameters" element="tns:removeByIdResponse"/>
  </message>
  <message name="removeByCode">
    <part name="parameters" element="tns:removeByCode"/>
  </message>
  <message name="removeByCodeResponse">
    <part name="parameters" element="tns:removeByCodeResponse"/>
  </message>
  <portType name="BetterAirportManager">
    <operation name="addAirport">
      <input wsam:Action="http://server.jaxws.example.com/BetterAirportManager/addAirportRequest" message="tns:addAirport"/>
      <output wsam:Action="http://server.jaxws.example.com/BetterAirportManager/addAirportResponse" message="tns:addAirportResponse"/>
    </operation>
    <operation name="removeById">
      <input wsam:Action="http://server.jaxws.example.com/BetterAirportManager/removeByIdRequest" message="tns:removeById"/>
      <output wsam:Action="http://server.jaxws.example.com/BetterAirportManager/removeByIdResponse" message="tns:removeByIdResponse"/>
    </operation>
    <operation name="removeByCode">
      <input wsam:Action="http://server.jaxws.example.com/BetterAirportManager/removeByCodeRequest" message="tns:removeByCode"/>
      <output wsam:Action="http://server.jaxws.example.com/BetterAirportManager/removeByCodeResponse" message="tns:removeByCodeResponse"/>
    </operation>
  </portType>
  <binding name="BetterAirportManagerPortBinding" type="tns:BetterAirportManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="addAirport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="removeById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="removeByCode">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="BetterAirportManagerService">
    <port name="BetterAirportManagerPort" binding="tns:BetterAirportManagerPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

