labs/student/solutions/lab02/ex3/WSClients/src/META-INF/wsdl/localhost_8081/itemManager.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://labs/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://labs/" name="ItemManagerService">
<types>
<xsd:schema>
<xsd:import namespace="http://labs/" schemaLocation="http://localhost:8081/itemManager?xsd=1" />
</xsd:schema>
</types>
<message name="findItem">
<part name="parameters" element="tns:findItem" />
</message>
<message name="findItemResponse">
<part name="parameters" element="tns:findItemResponse" />
</message>
<message name="addItem">
<part name="parameters" element="tns:addItem" />
</message>
<message name="addItemResponse">
<part name="parameters" element="tns:addItemResponse" />
</message>
<message name="removeItem">
<part name="parameters" element="tns:removeItem" />
</message>
<message name="removeItemResponse">
<part name="parameters" element="tns:removeItemResponse" />
</message>
<portType name="ItemManager">
<operation name="findItem">
<input wsam:Action="http://labs/ItemManager/findItemRequest" message="tns:findItem" />
<output wsam:Action="http://labs/ItemManager/findItemResponse" message="tns:findItemResponse" />
</operation>
<operation name="addItem">
<input wsam:Action="http://labs/ItemManager/addItemRequest" message="tns:addItem" />
<output wsam:Action="http://labs/ItemManager/addItemResponse" message="tns:addItemResponse" />
</operation>
<operation name="removeItem">
<input wsam:Action="http://labs/ItemManager/removeItemRequest" message="tns:removeItem" />
<output wsam:Action="http://labs/ItemManager/removeItemResponse" message="tns:removeItemResponse" />
</operation>
</portType>
<binding name="ItemManagerPortBinding" type="tns:ItemManager">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="findItem">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addItem">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="removeItem">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ItemManagerService">
<port name="ItemManagerPort" binding="tns:ItemManagerPortBinding">
<soap:address location="http://localhost:8081/itemManager" />
</port>
</service>
</definitions>