labs/student/solutions/lab02/ex4/UserClients/xml-resources/web-service-references/userManager/wsdl/localhost_8081/userManager.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="urn://Auction/">

<xs:element name="addUser">
<xs:complexType>
<xs:sequence>
<xs:element name="name" type="xs:string" />
<xs:element name="email" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="addUserResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="result" type="xs:long" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>