labs/student/examples/jaxws/Managers/generated/slides/betterManager.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1 in JDK 6. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1 in JDK 6. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.jaxws.example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.jaxws.example.com/" name="BetterAirportManagerService">
<types>
  <xsd:schema>
    <xsd:import namespace="http://server.jaxws.example.com/" schemaLocation="http://localhost:8080/betterManager?xsd=1"></xsd:import>
  </xsd:schema>
</types>
<message name="addAirport">
  <part name="parameters" element="tns:addAirport"></part>
</message>
<message name="addAirportResponse">
  <part name="parameters" element="tns:addAirportResponse"></part>
</message>
<message name="removeById">
  <part name="parameters" element="tns:removeById"></part>
</message>
<message name="removeByIdResponse">
  <part name="parameters" element="tns:removeByIdResponse"></part>
</message>
<message name="removeByCode">
  <part name="parameters" element="tns:removeByCode"></part>
</message>
<message name="removeByCodeResponse">
  <part name="parameters" element="tns:removeByCodeResponse"></part>
</message>
<portType name="BetterAirportManager">
  <!-- ... -->
  <operation name="addAirport">
    <input message="tns:addAirport"/>
    <output message="tns:addAirportResponse"/>
  </operation>
  <operation name="removeById">
    <input message="tns:removeById"/>
    <output message="tns:removeByIdResponse"/>
  </operation>
  <operation name="removeByCode">
    <input message="tns:removeByCode"/>
    <output message="tns:removeByCodeResponse"/>
  </operation>
</portType>
<binding name="BetterAirportManagerPortBinding" type="tns:BetterAirportManager">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="addAirport">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="removeById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="removeByCode">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="BetterAirportManagerService">
<port name="BetterAirportManagerPort" binding="tns:BetterAirportManagerPortBinding">
<soap:address location="http://localhost:8080/betterManager"></soap:address>
</port>
</service>
</definitions>