labs/student/examples/jaxws/Managers/generated/slides/wrappedAirportManager.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1 in JDK 6. -->
<xs:schema xmlns:tns="http://server.jaxws.example.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server.jaxws.example.com/">

<xs:element name="addAirport" type="tns:addAirport"/>
<xs:element name="addAirportResponse" 
  type="tns:addAirportResponse"/>
<xs:complexType name="addAirport">
  <xs:sequence>
    <xs:element name="code" type="xs:string" minOccurs="0"/>
    <xs:element name="name" type="xs:string" minOccurs="0"/>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="addAirportResponse">
  <xs:sequence>
    <xs:element name="return" type="xs:long"/>
  </xs:sequence>
</xs:complexType>

</xs:schema>